.teaser{
    padding:2rem;
    background-color:#f1f6fb;
    height: 100%;
}

.container{
    padding:0 1rem;
    width:100%;
    max-width: 1280px;
    margin:0 auto;
}

@media (min-width: 640px) {
    /* hits only if the screen is larger than 640px */
    .row {
        display: flex;
        margin: 0 -1rem;
    }

}

.row--wrap{
    flex-wrap: wrap;
}

.row--top {
    align-items: flex-start;
}

.row--bottom {
    align-items: flex-end;
}

.row--center {
    align-items: center;
}

.flex-1{
    flex:1;
}

/* columns */

.col{
    margin-bottom: 1rem;
}


@media (min-width: 640px) {
    .col {
        padding:0 1rem;
    }

    .col--four{
        width: 25%
    }
}